.card {
  margin-top: 80px;
  background: transparent !important;
  box-shadow: none !important;
  text-align: center;
  position: relative;

  img {
    padding-bottom: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 280px;
  }
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 160%;
    letter-spacing: 0.004em;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.004em;
    color: #000000;
  }
}
