.home {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-top: 70px;
  }

  &__content{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 170px;
      width: 102px;
      height: 102px;
      background: url('../image/decor.svg') no-repeat center;
    }
    &::before{
      content: '';
      position: absolute;
      left: 80px;
      bottom: 0px;
      width: 102px;
      height: 102px;
      background: url('../image/decor2.svg') no-repeat center;
    }
  }
}
